html {

        font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
            helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
            segoe ui emoji, segoe ui symbol, noto color emoji;
        line-height: 1.5;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: darkcyan;
    }

    body {
        background-color: rgba(2, 29, 36, 0.952);
    }

    .me {
        text-align: center;
        color: cornflowerblue;
    }

    .div1 {
        color: cornflowerblue;
        text-align: center;
        display:flex;
    }

    h4 {
        display: flex;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        padding: 2.5rem;
        justify-content: center;
    }

    .img {
        padding: 5px;
        text-align: center;
    }
.img2{
      width: 4%;
      height: 2.5em;
      opacity: 2;
      padding: 3px 3px;
      }
    img {
        height: 2oem;
        width: 30%;
        border-radius: 70px;
        
    }

    button {
        font-size: 20px;
        color:white;
        border-radius: 0.875rem;
        padding: 12px;
        float: inherit;
        text-decoration:none;
        text-align:justify;

    }

    button:hover {
        background-color: rgb(0, 193, 252);
    }

    A:link {
        text-decoration: none;
    }/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}


  
